<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="<%= Map.get(assigns, :base_path, "/") %>" />

    <title><%= assigns[:page_title] %></title>
    <meta name="author" content="Shaine Hatch" />
    <meta name="description" content="<%= assigns[:page_description] %>" />

    <%= if assigns[:published_on] do %>
    <!-- Article stuff -->
    <meta name="type" content="article" />
    <meta property="article:published_time" content="<%= assigns[:published_on] %>" />
    <meta property="og:type" content="article" />
    <% end %>

    <!-- Facebook OpenGraph -->
    <meta property="og:site_name" content="Squidtree">
    <meta property="og:title" content="<%= assigns[:title] %>">
    <meta property="og:description" content="<%= assigns[:page_description] %>">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%= assigns[:title] %>">
    <meta name="twitter:description" content="<%= assigns[:page_description] %>">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">

    <!-- Style and behavior -->
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <style>
      :root {
        --date-color: <%= assigns[:date_color] %>;
        --date-color-decimals: <%= assigns[:date_color_decimals] %>;
      }

      html {
        display: none;
      }
    </style>
  </head>

  <body class="layout-<%= assigns[:layout_name] %>">
    <div class="page-container">
      <header class="page-header">
        <section class="container">
          <a href="/" id="logo">
            <%= render("logo.html") %>
            <span class="logo-text">Squid<span class="logo-suffix">tree</span></span>
          </a>
        </section>
      </header>

      <main role="main" class="container">
        <div class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></div>
        <div class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></div>

        <%= @inner_content %>
      </main>
    </div>
  </body>
</html>
