<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/home.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body id="layout-home">
    <header>
      <section class="container">
        <a href="/" class="logo">
          <%= render("logo.html", %{foreground_color: assigns[:logo_color], background_color: assigns[:logo_shadow_color]}) %>
          <h1>Squid<span>tree</span</h1>
        </a>
      </section>
    </header>

    <main role="main" class="container">
      <%= @inner_content %>
    </main>
  </body>
</html>
