$breakpoint-desktop: 700px;

@mixin list-link {
  a:link, a:visited {
    color: var(--accent-text-color);
    transition: var(--fade-time);

    span {
      color: var(--aside-text-color);
      transition: var(--fade-time);
    }
  }

  a:hover, a:active {
    color: var(--date-color);
    transition: var(--fade-time);
    text-decoration: none;

    span {
      color: var(--primary-text-color);
      transition: var(--fade-time);
    }
  }
}

@mixin word-break {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

:root {
  // --primary-background: #3C3C41;
  --primary-background: var(--accent-background);
  --accent-background: #2A2A2F;
  --primary-text-color: #FFFFFF;
  --accent-text-color: #FFFFFF80;
  --aside-text-color: #FFFFFFCC;
  --fade-time: 0.3s;
  --primary-font-size: 18px;
  --small-font-size: 14px;
}

body {
  background-color: var(--primary-background);
  color: var(--primary-text-color);
  font-family: "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: var(--primary-font-size);
  margin: 0;
}

a:link, a:visited {
  color: var(--accent-text-color);
  transition: var(--fade-time);
  text-decoration: none;
}

a:hover, a:active {
  color: var(--date-color);
  transition: var(--fade-time);
}

::selection {
  background-color: var(--date-color);
}

main {
  margin: 0 auto;
  padding: 50px 0 80px 0;
}

.page-header {
  background-color: var(--accent-background);
  padding: 25px 0;
  text-align: center;
}

.page-container {
  min-height: 100vh;
  position: relative;
}

.content-wrap {
  margin: 0 15px 0 15px;
  padding-bottom: 40px;
}

.page-footer {
  background-color: #18181b;;
  bottom: 0;
  font-size: var(--small-font-size);
  height: 40px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  width: 100%;

  .footer-links {
    display: inline-block;
    margin-left: 10px;
  }

  a:visited, a:link {
    color: var(--primary-text-color);
    font-weight: bold;
  }

  a:active, a:hover {
    color: var(--accent-text-color);
  }
}

#logo {
  color: var(--primary-text-color);
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  line-height: 0;
  transition: var(--fade-time);
  width: 200px;

  svg {
    margin-bottom: 11px;
  }

  #logo-circle {
    fill: var(--date-color) !important;
    opacity: 1 !important;
    // transition: var(--fade-time);
  }

  .logo-suffix {
    color: var(--accent-text-color);
  }

  &:hover {
    color: var(--accent-text-color);

    .logo-suffix {
      color: var(--date-color);
      transition: var(--fade-time);
    }

    #logo-circle {
      fill: var(--primary-text-color) !important;
      opacity: 0.5 !important;
      // transition: var(--fade-time);
    }
  }

  svg {
    height: 100px;
    width: auto;
  }
}

h1 {
  font-size: 2.5em;
  line-height: 1em;
  margin: 0 0 30px 0;

  span, b {
    color: var(--date-text-color);
    transition: var(--fade-time);
  }
}

h2 {
  color: var(--date-text-color);
  font-size: 1.7em;
  font-weight: bold;
  margin: 30px 0 10px;
}

h3 {
  color: var(--primary-text-color);
  font-size: 1.4em;
  font-weight: bold;
  margin: 20px 0 10px;
}

h4 {
  color: var(--date-color);
  font-size: 1em;
  font-weight: bold;
  margin: 30px 0 10px;
}

h5 {
  color: var(--date-color);
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0 10px;
}

hr {
  border: none;
  border-top: 3px solid var(--date-color);
  margin: 40px 0;
}

p {
  line-height: 1.6em;
  margin: 0 0 15px;
}

em {
  color: var(--aside-text-color);

  &.paren-em {
    font-size: 0.8em;
  }
}

blockquote {
  border-left: 3px solid var(--date-color);
  color: var(--aside-text-color);
  display: block;
  margin-left: 10px;
  padding-left: 10px;
}

pre, code {
  background-color: rgba(var(--date-color-decimals), 0.2);
  border: 1px solid var(--date-color);
  font-size: var(--small-font-size);
  line-height: 1.4em;
  margin: 0 0 30px 0;
  overflow-x: auto;
  padding: 15px;
  white-space: pre-wrap;
  word-wrap: break-word;

  &.inline {
    padding: 2px;
  }

  a:link, a:visited {
    color: var(--primary-text-color);
    transition: var(--fade-time);
    text-decoration: underline;
  }

  a:hover, a:active {
    color: var(--date-text-color);
    transition: var(--fade-time);
  }
}

pre code {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

cite {
  font-style: normal;

  em {
    &.paren-em {
      color: var(--primary-test-color);
      font-style: normal;
    }
  }

  blockquote {
    color: var(--primary-text-color);
    font-size: 1.2em;

    a::before, a::after {
      content: none !important;
    }
  }
}

ul, ul[class] {
  @include list-link;

  line-height: 1.6em;
  list-style: none;
  margin: 0 0 15px 0;
  padding-left: 1.8em;

  li::before {
    color: var(--date-color);
    content: "\25AA\00FE0E";
    margin-left: -1.8em;
    position: absolute;
    width: 1.8em;
  }

  li > & {
    margin-bottom: 0;
  }
}

ol, ol[class] {
  @include list-link;

  counter-reset: li;
  line-height: 1.6em;
  list-style: none;
  margin: 0 0 15px 0;
  padding-left: 1.8em;

  li {
    counter-increment: li;

    p {
      margin: 0;
    }
  }

  li::before {
    color: var(--date-color);
    content: counter(li) ".";
    margin-left: -1.8em;
    position: absolute;
    width: 1.8em;
  }
}

.footnote {
  &::before {
    content: "["
  }
  &::after {
    content: "]"
  }

  font-size: 0.5em;
  margin-left: 2px;
  text-decoration: underline !important;
  vertical-align: super;
}

.reversefootnote {
  display: inline;
  margin-left: 2px;
}

.footnotes {
  @include word-break;

  font-size: 0.8em;

  p {
    display: inline;
  }
}

.post-meta {
  font-size: var(--small-font-size);
  margin-bottom: 0;
}

.post-header {
  margin-bottom: 30px;
}

.introduction {
  font-size: 1.3em;
  line-height: 1.2em;
  font-weight: bold;
}

@media (min-width: $breakpoint-desktop) {
  .content-wrap {
    padding-bottom: 30px;
    margin: 0;
  }

  main {
    padding: 50px 50px 80px 50px;
    width: 600px;
  }
}

.back-link {
  margin-top: 30px;
}
