@import "./reset.css";

:root {
  --primary-background: #3C3C41;
  --accent-background: #2A2A2F;
  --primary-text-color: #FFFFFF;
  --accent-text-color: #FFFFFF80;
}

body {
  background-color: var(--primary-background);
  color: var(--primary-text-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

@mixin heading-color {
  color: var(--primary-text-color);

  span {
    color: var(--accent-text-color);
  }
}

h1 {
  @include heading-color;
  font-size: 32px;
  font-weight: bold;

  a:link, a:visited {
    @include heading-color;
    text-decoration: none;
  }
}

h2 {
  @include heading-color;
  font-size: 20px;
  font-weight: bold;
}

h3 {
  @include heading-color;
  font-size: 18px;
  font-weight: bold;
}

h4 {
  @include heading-color;
  font-size: 16px;
  font-weight: bold;
}

h5 {
  color: var(--accent-text-color);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
