body.layout-home {
  background-color: var(--accent-background);
  text-align: center;

  #logo {
    display: inline-block;
    font-size: 32px;
    width: 200px;

    svg {
      height: 135px;
    }
  }

  main {
    padding-top: 25px;
  }

  .introduction {
    font-size: 14px;
  }

  #home-nav {
    margin-top: 50px;

    a:link, a:visited {
      color: var(--primary-text-color);
      transition: var(--fade-time);
      text-decoration: none;

      span {
        color: var(--accent-text-color);
        transition: var(--fade-time);
      }
    }

    a:hover, a:active {
      color: var(--accent-text-color);
      transition: var(--fade-time);

      span {
        color: var(--date-color);
        transition: var(--fade-time);
      }
    }
  }

  nav {
    display: grid;
    grid-template-columns: auto auto;

    h1 {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
    }

    ul, ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a:hover, a:active {
      color: var(--accent-text-color);
      transition: var(--fade-time);
    }
  }

  #about-links {
    border-right: 1px solid var(--date-color);
    padding-right: 15px;
    text-align: right;

    h1 {
      a:link::before, a:visited::before {
        content: "\00AB";
        color: var(--accent-text-color);
        font-weight: bold;
        padding-right: 5px;
        transition: var(--fade-time);
      }

      a:hover::before, a:active::before {
        color: var(--date-color);
      }
    }
  }

  #blog-links {
    border-left: 1px solid var(--date-color);
    padding-left: 15px;
    text-align: left;

    h1 {
      a:link::after, a:visited::after {
        content: "\00BB";
        color: var(--accent-text-color);
        font-weight: bold;
        padding-left: 5px;
        transition: var(--fade-time);
      }

      a:hover::after, a:active::after {
        color: var(--date-color);
      }
    }
  }
}
