$nav-spacing: 15px;

@mixin primary-text-date-span {
  color: var(--primary-text-color);
  transition: var(--fade-time);
  text-decoration: none;

  span {
    color: var(--accent-text-color);
    transition: var(--fade-time);
  }
}

body.layout-home {
  background-color: var(--accent-background);
  text-align: center;

  #logo {
    display: inline-block;
    font-size: 32px;
    width: 200px;

    svg {
      height: 135px;
    }
  }

  main {
    padding-top: 25px;
  }

  .introduction {
    font-size: 14px;
    font-weight: normal;
  }

  #home-nav {
    margin-top: 60px;
  }

  nav {
    display: grid;
    grid-template-columns: 50% 50%;

    h1 {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.5;
      margin: 0;
      margin-top: $nav-spacing;
      padding-bottom: 3px;

      &:first-child {
        margin-top: 0;
      }

      a:link, a:visited {
        @include primary-text-date-span;
      }

      a:hover, a:active {
        color: var(--accent-text-color);
        transition: var(--fade-time);

        span {
          color: var(--date-color);
          transition: var(--fade-time);
        }
      }
    }

    ul, ol {
      margin: 0;
      margin-bottom: $nav-spacing;
      padding: 0;

      &:last-child {
        margin-bottom: 0;
      }

      li::before {
        content: none;
      }

      li {
        line-height: 1.4em;
        padding-bottom: 5px;
      }
    }
  }

  #about-links {
    border-right: 1px solid var(--date-color);
    padding-right: 15px;
    text-align: right;

    h1 {
      a:link::before, a:visited::before {
        content: "\00AB";
        color: var(--accent-text-color);
        font-weight: bold;
        padding-right: 5px;
        transition: var(--fade-time);
      }

      a:hover::before, a:active::before {
        color: var(--date-color);
      }
    }
  }

  #blog-links {
    border-left: 1px solid var(--date-color);
    padding-left: 15px;
    text-align: left;

    h1 {
      a:link::after, a:visited::after {
        content: "\00BB";
        color: var(--accent-text-color);
        font-weight: bold;
        padding-left: 5px;
        transition: var(--fade-time);
      }

      a:hover::after, a:active::after {
        color: var(--date-color);
      }
    }
  }
}
