.layout-note .post-content {
  a:active, a:hover {
    color: var(--date-color);
  }
}

.footnotes {
  .paren-em {
    color: var(--primary-text-color) !important;
    font-size: 1em !important;
    font-style: normal;
  }
}
